#Titulo
    {color: seagreen;}

p.texto
    {color: red;}  

p.txt
    {color: blueviolet;}

div p 
    {color: darkblue;}

div h2, div h3
    {color: orchid;}

/** 
    {font-size: larger;
    color: black;}**/

/*EL interprete de css no toma nada de lo que parezca en estos msj, sirve principalmente para dejar comments a otros desarrollaodores o a mi mismo*/

div h1
    {color: darkcyan;}
/*
 #dotted
        {border: 5px dotted black;}

    #dotted
        {border: 5px dotted black;}
    #dashed
        {border: 5px dashed black;}
    #solid
        {border: 5px solid black;}
    #double
        {border: 5px double black;}
    #none
        {border: 5px none black;}
    #hidden
        {border: 5px hidden black;}
    #groove
        {border: 5px groove rgb(171, 12, 211);}
    #ridge
        {border: 5px ridge rgb(171, 12, 211);}
    #inset
        {border: 5px inset rgb(171, 12, 211);}
    #outset
        {border: 5px outset rgb(255, 10, 255);}

    */
#Borde1
    {border-style: groove;}
  
#Borde1
    {border-color: green;}

#Borde1
    {border-radius: 10px;}

#Borde1
    {border-width: 20px;}

#fondo
    {background-color: cadetblue;
    opacity: 0.5;}

#fondo2 
    {background-image: url(obito.png); opacity: 0.7;
    background-size: 100px;}

#fondo2    
    {color: white;}

.margen
    {background-color: rgba(234, 0, 255, 0.342);
        margin: 50px;
    color: rgb(255, 0, 98);
    padding: 30px 25px 20px 15px;
    border: 10px groove rgba(252, 2, 231, 0.548);
    border-radius: 20px;    
    }

#txt3 
    {text-align: center; 
    text-decoration: overline;
    text-decoration: underline;
    text-shadow: 3px 5px 1px violet;
    font-size: x-large;
    font-family: 'Gravitas One', cursive;}

a:link{
    color:blueviolet}

a:visited{
    color: darkcyan;}

a:hover{
    color: red;}    

a:active
    { color: seagreen;}

ul li
    {color: rgb(139, 0, 104);
    font-size: larger;
    font-family: 'Arial', cursive;
    list-style-type: none;
}
 
table{
     width: 100%;
     border-collapse: collapse;}

tr, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;}

td {
    background-color: rgb(186, 42, 199);
    color: black;}

span
    {display: block;}

.inline
    {display: inline;}

#position
    {position: fixed;
    left: 20px; }